schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="books">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="id" type="xs:integer" />
            <xs:element name="author" type="xs:string" />
            <xs:element name="price" type="xs:string" />
            <xs:element name="Publisher" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
</xs:complexType>

</xs:element>
</xs:schema>